@using Abarnathy.BlazorClient.Client.Models
@inherits SingleBase
@page "/patient/{Id:int}"

<h2>View/Edit Patient Demographcis</h2>

@if (Status == OperationStatus.Pending)
{
    <p>Loading...</p>
}

@if (Status == OperationStatus.Success && Model != null)
{
@*     <EditForm> *@
@*      *@
@*     </EditForm> *@
    
    <p>Patient @Model.GivenName @Model.FamilyName with ID @Model.Id successfully loaded.</p>
}

@if (Status == OperationStatus.Success && Model == null)
{
    <p>No patient was found matching the given ID.</p>
}

@if (Status == OperationStatus.Error)
{
    <p>There was an error loading the patient data.</p>
}
