version: '3.4'

services:

  reverse_proxy:
    ports:
      - "${NGINX_PORT_EXT}:${NGINX_PORT_INT}"
    restart: always

  sql_server:
    environment: 
        - ACCEPT_EULA=Y
        - SA_PASSWORD=${SA_PASSWORD_SEED}
        - MSSQL_PID=Express
    healthcheck:
        test: ["CMD", "/opt/mssql-tools/bin/sqlcmd", "-USA", "-P${SA_PASSWORD_SEED}", "-Q", "SELECT 1"]
    ports:
        - "${SQL_SERVER_PORT_EXT}:${SQL_SERVER_PORT_INT}"
    volumes:
        - abarnathy-sqldata:/var/opt/mssql
        - abarnathy-sqluser:/var/opt/sql

  blazor_server:
    ports:
      - "${BLAZOR_SERVER_PORT_EXT}:${BLAZOR_SERVER_PORT_INT}"

  demographics_api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings__DefaultConnection=Server=${SQL_SERVER_SERVER_NAME},${SQL_SERVER_PORT_INT};Initial Catalog=${DEMOGRAPHICS_API_DB_INITIAL_CATALOG};User Id=${DEMOGRAPHICS_API_DB_USER_ID};Password=${DEMOGRAPHICS_API_DB_PASSWORD}"
    ports:
      - "${DEMOGRAPHICS_API_PORT_EXT}:${DEMOGRAPHICS_API_PORT_INT}"

volumes:
  abarnathy-sqldata:
    external: false
  abarnathy-sqluser:
    external: false
