**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
**/Test/
**/test/

Services\Abarnathy.DemographicsService\Test\Abarnathy.DemographicsService.Test.Unit\Abarnathy.DemographicsService.Test.Unit.csproj

Services/Abarnathy.DemographicsService/Test/**
Services/Abarnathy.DemographicsService/test/**
Services/Abarnathy.HistoryService/Test/**
Services/Abarnathy.HistoryService/test/**
Services/Abarnathy.AssessmentService/Test/**
Services/Abarnathy.AssessmentService/test/**