version: '3.4'

services:

  #api-gateway:
    #build:
     # context: .
     # dockerfile: APIGateways/OcelotGateway/Dockerfile
    #networks:
     # - local

  mongo:
    container_name: mongo
    image: mongo
    restart: always
    ports:
      - "27017:27017"
    networks:
      - local
    volumes: 
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro

  sql_server:
    image: "mcr.microsoft.com/mssql/server"
    networks:
      - local

  blazor_server:
    container_name: blazor_server
    build:
      context: .
      dockerfile: Abarnathy.BlazorClient/Server/Dockerfile
    networks:
      - local

  demographics_api:
    container_name: demographics_api
    build:
      context: .
      dockerfile: Abarnathy.DemographicsAPI/src/Dockerfile
    depends_on:
      - sql_server
    networks:
      - local
    
  history_api:
    container_name: history_api
    build:
      context: .
      dockerfile: Abarnathy.HistoryAPI/src/Dockerfile
    depends_on:
      - mongo
    networks:
      - local

networks:
  local:

