version: '3.4'

services:

  mongo:
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
      - MONGO_INITDB_DATABASE=${MONGO_INITDB_DB}

  mongo-express:
    ports:
      - "${ME_CONFIG_PORT_EXT}:${ME_CONFIG_PORT_INTERNAL}" # Inconsistent naming because ME_CONFIG_PORT_INT renders the compose invalid. I've no idea, don't ask.
    environment:
      - "ME_CONFIG_BASICAUTH_USERNAME=${ME_CONFIG_MONGODB_ADMINUSERNAME}"
      - "ME_CONFIG_BASICAUTH_PASSWORD=${ME_CONFIG_MONGODB_ADMINPASSWORD}"

  sql_server:
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${SA_PASSWORD_SEED}
      - MSSQL_PID=Express
    healthcheck:
      test: ["CMD", "/opt/mssql-tools/bin/sqlcmd", "-USA", "-P${SA_PASSWORD_SEED}", "-Q", "SELECT 1"]
    ports:
      - "${SQL_SERVER_PORT_EXT}:${SQL_SERVER_PORT_INT}"
    volumes:
      - abarnathy-sqldata:/var/opt/mssql
      - abarnathy-sqluser:/var/opt/sql

  blazor_server:
    ports:
      - "${BLAZOR_SERVER_PORT_EXT}:${BLAZOR_SERVER_PORT_INT}"

  demographics_api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - "ConnectionStrings__DefaultConnection=Server=${SQL_SERVER_SERVER_NAME},${SQL_SERVER_PORT_INT};Initial Catalog=${DEMOGRAPHICS_API_DB_INITIAL_CATALOG};User Id=${DEMOGRAPHICS_API_DB_USER_ID};Password=${DEMOGRAPHICS_API_DB_PASSWORD}"
    ports:
      - "${DEMOGRAPHICS_API_PORT_EXT}:${DEMOGRAPHICS_API_PORT_INT}"
        
  history_api:
    ports:
      - "${HISTORY_API_PORT_EXT}:${HISTORY_API_PORT_INT}"
    environment:
      - "DEMOGRAPHICS_API_BASE_ADDRESS=http://demographics_api:${DEMOGRAPHICS_API_PORT_INT}/"

volumes:
  abarnathy-sqldata:
    external: false
  abarnathy-sqluser:
    external: false
  abarnathy-mongo:
    external: false

networks:
  local:
    driver: bridge

